body{
	font-family: 'Oxygen', sans-serif;
	color: #8d99ae;
}
#page-navbar.navbar
{
	padding-top: 0;
	padding-bottom: 0;
	/*margin-bottom: 20px;*/
}

#main-body
{
	min-height: 1000px;
	overflow-y: auto;
}



#home .jumbotron-fluid
{
	padding: 0px;
}

.details
{
	background: #8d99ae;
	margin-bottom: 20px;
	color: #EDF2F4;
}

.page-parts
{
	min-height: 100px;
}

.page-parts:nth-child(odd) {
	background: #343a40;
}

#resume.page-parts{
	padding-top: 50px;
}

/*-----Media query------*/
@media (min-width: 575.99px) {
	#mainMenu .nav-item
	{
		padding: 7px;
	}
	#mainMenu .fas, #mainMenu .nav-text
	{
		font-size: 24px;
	}

}

@media (max-width: 575.98px) {
	#mainMenu .fas, #mainMenu .nav-text
	{
		font-size: 14px;
		padding-right: 10px;
	}

}
/*-----Media query ends here------*/

/*-----scrollbar css----*/
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #000;
}
/*----scrollbar css ends here-----*/
